.d-tooltip-content {
  font-size: 0.8em;
  color: var(--primary-medium);
}

.topic-list-body .link-top-line {
  .fk-d-tooltip__trigger,
  .fk-d-tooltip__trigger-container {
    display: inline;
  }
}
